*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.aside{
  max-width: 280px;
  position: relative;
  left: 200px;
  top: 150px;

}
h1,p{
  padding: 8px;
  letter-spacing: 1px;
}
button{
  padding: 8px 12px;
  color: white;
  background-color: #32c3ef;
  border-radius: 50px;
  font-size: 10px;
  border: none;
}
.phone{
  width:230px;
  position: relative;
  left: 800px;
  bottom: 90px;
  z-index: 1;
}

.middle{
  background-image: url(Wallpaper.jpeg);
  background-size: cover;
  width:100%;
  height: 580px;
  position: relative;
  bottom: 155px;
}
.container div {
  width: 25%;
  height: 100px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 190px;

}
.container p{
  font-size: small;
  color: aliceblue;
  padding: 6px;
}
.container h5{
  color: white;
  padding: 6px;
  font-weight: 100;
}
.container span{
  color: #21c4b4;
  padding: 6px;
}

.container{
    display: flex;
    justify-content: center;
}

.mission{
  width: 55%;
  margin: 0 auto;
  text-align: center;

}
.mission button{
    padding: 10px 20px;
  color: white;
  background-color:#32c3ef;
  border-radius: 20px;
  font-size: 10px;
  border: none;
}
.mission h1, p{
  font-weight: 200;
}

.foot{
  background-image: url(Wallpaper.jpeg);
  background-size: cover;
  margin-top: 200px;
  width:100%;
  height: 800px;
}
.footpara{
  width: 55%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 200px;
  color: aliceblue;
}
.footpara h1,p{
  font-weight: 100;
}
.imgcontainer {
  display: flex;
  justify-content: center;
  position: relative;
  top: 230px;
}

.imgcontainer div {
  /* background-color: #f1f1f1; */
  width: 400px;
  height:200px ;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
  line-height: 200px;
  border: 3px dashed aliceblue;
  border-radius: 3px;
  color: aliceblue;
}

footer{
  color: aliceblue;
  position: relative;
  top: 250px;
  text-align: center;
}
